In [10]:
import pandas as pd

# ระบุไฟล์ Excel ทั้ง 10 ไฟล์
file_paths = [
    '/content/Bigte1.xlsx',
    '/content/Bigte2.xlsx',
    '/content/Bigte3.xlsx',
    '/content/Bigte4.xlsx',
    '/content/Bigte5.xlsx',
    '/content/Bigte6.xlsx',
    '/content/Bigte7.xlsx',
    '/content/Bigte8.xlsx',
    '/content/Bigte9.xlsx',
    '/content/Bigte10.xlsx'
]

# อ่านข้อมูลจากทุกไฟล์และรวมเป็น DataFrame เดียว
result = pd.concat([pd.read_excel(file_path) for file_path in file_paths], ignore_index=True)

# แปลงคอลัมน์ 'Doc_Date' เป็น datetime
result['Doc_Date'] = pd.to_datetime(result['Doc_Date'], format='%d/%m/%Y', errors='coerce')

# เพิ่มคอลัมน์ 'Day', 'Month', และ 'Year'
result['Day'] = result['Doc_Date'].dt.strftime('%A')
result['Month'] = result['Doc_Date'].dt.strftime('%B')
result['Year'] = result['Doc_Date'].dt.year

# แสดงผล DataFrame ที่แปลงวันที่ออกมา
print(result[['Day', 'Month', 'Year']])

             Day    Month  Year
0      Wednesday  January  2023
1      Wednesday  January  2023
2      Wednesday  January  2023
3      Wednesday  January  2023
4      Wednesday  January  2023
...          ...      ...   ...
92490    Tuesday  October  2023
92491    Tuesday  October  2023
92492    Tuesday  October  2023
92493    Tuesday  October  2023
92494    Tuesday  October  2023

[92495 rows x 3 columns]

In [11]:
result

,Doc_Date,Time,No.,All_Bill,Product_Code,Barcode,Quantity,Unit_Price,Day,Month,Year
0,2023-01-04,07:26,OL230000001,93.0,3001,3001,5.0,7.0,Wednesday,January,2023
1,2023-01-04,07:26,OL230000001,93.0,8850124003850,885012400,1.0,7.0,Wednesday,January,2023
2,2023-01-04,07:26,OL230000001,93.0,8850250000495,885025000,1.0,15.0,Wednesday,January,2023
3,2023-01-04,07:26,OL230000001,93.0,8850511421175,885051142,1.0,18.0,Wednesday,January,2023
4,2023-01-04,07:26,OL230000001,93.0,8850511421175,885051142,1.0,18.0,Wednesday,January,2023
...,...,...,...,...,...,...,...,...,...,...,...
92490,2023-10-31,23:03,0000132450,36.0,011020,011020,1.0,9.0,Tuesday,October,2023
92491,2023-10-31,23:03,0000132450,36.0,8850228005668,885022800,1.0,13.0,Tuesday,October,2023
92492,2023-10-31,23:03,0000132450,36.0,8850100003409,885010000,1.0,14.0,Tuesday,October,2023
92493,2023-10-31,23:12,0000132451,9.0,001001,001001,1.0,9.0,Tuesday,October,2023
92494,2023-10-31,23:45,0000132452,15.0,8850987144998,885098714,1.0,15.0,Tuesday,October,2023

In [12]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.10/dist-packages (3.1.9)

In [13]:
import pandas as pd

# สร้าง ExcelWriter
with pd.ExcelWriter('BigTeClean.xlsx', engine='xlsxwriter') as writer:
    # สร้าง DataFrame ที่มีรูปแบบทศนิยมตามที่ต้องการ
    df_formatted = result.copy()
    df_formatted[['All_Bill', 'Quantity', 'Unit_Price']] = df_formatted[['All_Bill', 'Quantity', 'Unit_Price']].round(2)

    # บันทึก DataFrame เป็นไฟล์ Excel
    df_formatted.to_excel(writer, index=False)

In [14]:
import pandas as pd

# อ่านข้อมูลจากไฟล์ Excel
file_path = 'BigTeClean.xlsx'
df = pd.read_excel(file_path)

# แสดงข้อมูล
print(df)

        Doc_Date   Time          No.  All_Bill   Product_Code    Barcode  \
0     2023-01-04  07:26  OL230000001        93           3001       3001
1     2023-01-04  07:26  OL230000001        93  8850124003850  885012400
2     2023-01-04  07:26  OL230000001        93  8850250000495  885025000
3     2023-01-04  07:26  OL230000001        93  8850511421175  885051142
4     2023-01-04  07:26  OL230000001        93  8850511421175  885051142
...          ...    ...          ...       ...            ...        ...
92490 2023-10-31  23:03   0000132450        36         011020     011020
92491 2023-10-31  23:03   0000132450        36  8850228005668  885022800
92492 2023-10-31  23:03   0000132450        36  8850100003409  885010000
92493 2023-10-31  23:12   0000132451         9         001001     001001
92494 2023-10-31  23:45   0000132452        15  8850987144998  885098714

       Quantity  Unit_Price        Day    Month  Year
0             5         7.0  Wednesday  January  2023
1             1         7.0  Wednesday  January  2023
2             1        15.0  Wednesday  January  2023
3             1        18.0  Wednesday  January  2023
4             1        18.0  Wednesday  January  2023
...         ...         ...        ...      ...   ...
92490         1         9.0    Tuesday  October  2023
92491         1        13.0    Tuesday  October  2023
92492         1        14.0    Tuesday  October  2023
92493         1         9.0    Tuesday  October  2023
92494         1        15.0    Tuesday  October  2023

[92495 rows x 11 columns]